/*
!.github
!.gitignore
!.gitmodules
!archetypes
!assets
!content
!data
!layouts
!static
!i18n
!.hugo_build.lock
!CNAME
!hugo.toml
!README.md


public/
resources/

.idea/
.vscode/

.DS_Store
Thumbs.db


*.tmp
*.swp
*.swo
*~
